<!DOCTYPE html>
<html>
<head>
<title>Spott - Image Download Test</title>
</head>
<body>
<h2>Download Image Test</h2>
<form action='/download' method="post">
    <p>Please select which location the photos should be pulled from.</p>
    <input type="radio" id="loc1" name="location" value="Left Side">
    <label for="loc1">Left Side</label>
    <input type="radio" id="loc2" name="location" value="Center Side">
    <label for="loc2">Center Side</label>
    <input type="radio" id="loc3" name="location" value="Right Side">
    <label for="loc3">Right Side</label>
    <br/>
    <input type="submit" value="Download!"/>
</form>
</body>
</html>
